body{
    margin: 0;
    padding: 0;
}

.header-container{
    background-image: linear-gradient(to right, rgb(130, 197, 230),rgba(139, 94, 223, 0.533));
    padding:5%;
    color:aliceblue;
    text-align: center;
}

.person-item{
    padding:2%;
    background-color: rgb(153, 201, 226);
    text-align: center;
    margin: 1%;
    width: 10%;
    border-radius: 15px;
}

.person-item:hover{
    transform: translateY(4px);
    box-shadow: 4px 4px #000407 ;
    cursor: pointer;
}

.profilePic{
    border-radius: 50px;
}

.person-name-header{
    font-size: 1rem;
}

.know-more-button{
    width: 90%;
    height: 15%;
}

#userList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}



#family-list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.family-button{
    padding: 1%;
    margin: 1%;
    font-size: 1rem;
}

button{
    color: #020e18;
    cursor: pointer;
    border-radius: 10px;
    border: none;
    background:linear-gradient(to top , rgba(12, 170, 218, 0.333),#64a8e0);
}

button:hover{
    transform: translateY(4px);
    box-shadow: 4px 4px #000407 ;
    cursor: pointer;
}

#searchInput{
    height: 3rem;
    width: 30%;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1%;
}